@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/*共通部分*/
body {
  font-family: Montserrat, "sans-serif", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  background-color: #F3F3F3;
  color: #3E3E3E;
  line-height: 1.5;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-bottom: 120px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-bottom: 21px;
  }
}

.section-title {
  font-size: 36px;
  margin-bottom: 54px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 36px;
    font-size: 30px;
  }
}

.button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  max-width: 100%;
  text-decoration: none;
}

.contact__button {
  background: #FFAA3B;
  color: #FFFFFF;
  font-weight: 700;
  padding: 12px 50px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: background-color 0.3s ease 0s;
  font-size: 18px;
  letter-spacing: 0.025em;
}
@media screen and (max-width: 767px) {
  .contact__button {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .contact__button.main {
    padding: 12px 31px;
    letter-spacing: 0;
  }
}
.contact__button:hover {
  background: #F18900;
}
.contact__button:disabled {
  background: #B2B2B2;
  cursor: default;
}

.button__primary {
  font-size: 20px;
  border: 1px solid #707070;
  padding: 16px 77px;
  font-weight: 600;
  background: #FFFFFF;
  color: #3E3E3E;
  letter-spacing: 0.2em;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}
@media screen and (max-width: 767px) {
  .button__primary {
    padding: 12px 95px 13px 99px;
    font-size: 18px;
  }
}
.button__primary:hover {
  border: 1px solid #fff;
  color: #FFFFFF;
  background: #3E3E3E;
}

.button__secondary {
  font-size: 20px;
  border: 1px solid #fff;
  letter-spacing: 0.2em;
  line-height: 1.125;
  font-weight: 600;
  background: transparent;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
  color: #FFFFFF;
  padding: 20px 77px;
}
.button__secondary.access-button {
  padding: 21px 77px;
}
.button__secondary:hover {
  border: 1px solid #000;
  background: #FFFFFF;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .button__secondary {
    padding: 16px 100px;
    font-size: 18px;
  }
  .button__secondary.result {
    padding: 16px 96px 16px 97px;
  }
  .button__secondary.access-button {
    padding: 16px 97px 15px 100px;
  }
}

.floating {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 100;
  visibility: visible;
  bottom: 42px;
  right: 40px;
  transition: visibility 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .floating {
    right: 16px;
    bottom: 13px;
  }
}
.floating a {
  display: block;
  text-decoration: none;
  opacity: 1;
}
.floating a:hover {
  opacity: 0.6;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .is-pc {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .is-sp {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

@media (min-width: 1200px) {
  .is-tab {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .is-tab {
    display: none;
  }
}

@media (min-width: 1200px) {
  .is-not-pc {
    display: none;
  }
}

.header {
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  height: 83px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header {
    background: rgba(255, 255, 255, 0.8);
    padding: 19px 16px 20px;
    height: 68px;
  }
}

.header__nav {
  margin: 0 auto;
  height: inherit;
  width: 630px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__nav-item + .header__nav-item {
  margin-left: 39px;
}
.header__nav-item a {
  display: block;
  height: 83px;
  line-height: 83px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #3E3E3E;
  position: relative;
  letter-spacing: -0.0004em;
}
.header__nav-item a::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 1px;
  background: #3E3E3E;
  bottom: calc(50% - 11.5px);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.header__nav-item a:hover::after {
  opacity: 1;
}

.header__logo {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  display: none;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .header__logo {
    display: block;
  }
}

.drawer-icon {
  position: fixed;
  display: none;
  right: 16px;
  top: 20px;
  z-index: 51;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
}
.drawer-icon.is-checked {
  transform: translateX(-80vw);
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 26px;
  height: 20px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  left: 0;
  display: block;
  background: #3E3E3E;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: all 0.3s linear 0s;
}
.drawer-bar:nth-of-type(1) {
  top: 0;
}
.drawer-bar:nth-of-type(2) {
  top: 8px;
}
.drawer-bar:nth-of-type(3) {
  top: 16px;
}
.is-checked .drawer-bar {
  background-color: #FFFFFF;
}
.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  transform: rotate(-45deg);
}
.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}
.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  transform: rotate(45deg);
}

.drawer-background {
  display: none;
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  opacity: 0;
  transition: display 0.5s ease 0s, opacity 0.5s ease 0s;
}
.drawer-background.is-checked {
  display: block;
  opacity: 0.7;
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateX(105%);
  z-index: 50;
  width: 80vw;
  max-width: 90%;
  height: 100%;
  background: #FFFFFF;
  transition: all 0.5s ease 0s;
  text-align: center;
  padding-top: calc((100% - 336px) / 2);
}
.drawer-content.is-checked {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}
.drawer-content ul {
  list-style: none;
}
.drawer-content ul li {
  display: block;
  margin-top: 32px;
}
.drawer-content ul li:first-child {
  margin-top: 0;
}
.drawer-content ul li a {
  text-decoration: none;
  display: block;
  color: #3E3E3E;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222;
}

.main-visual {
  background: url(../img/mv.png) no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 648px;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .main-visual {
    height: 100vh;
    min-height: 667px;
    background-position: left 22.2% top 50%;
    padding-top: 68px;
    margin-bottom: 0;
  }
}

.main-visual__content {
  position: absolute;
  width: calc(50% - 53px);
  top: 55.9%;
  right: 27.1%;
  transform: translate(50%, -50%);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-visual__content {
    width: calc(50% + 17px);
  }
}
@media screen and (max-width: 767px) {
  .main-visual__content {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    top: 49.5%;
    right: 50%;
    transform: 50%, 50%;
  }
}

.main-visual__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-visual__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    line-height: 1.6666666667;
  }
}

.main-visual__lead {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5555555556;
  margin-top: 28px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0;
    line-height: 1.4285714286;
  }
}

.main-visual__contact {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .main-visual__contact {
    text-align: center;
    margin-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.news__container {
  background: #ffffff;
  padding: 55px 60px 40px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .news__container {
    transform: translateY(-39px);
    position: relative;
    z-index: 10;
    padding: 36px 0 40px;
  }
}

.news__title {
  text-align: center;
}

.news__items {
  margin: 0 auto;
  width: 100%;
}
.news__item-link {
  padding: 34px 0 39.5px;
  display: flex;
  color: #3E3E3E;
  transition: background-color 0.3s;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news__item-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .news__item-link {
    display: block;
    padding: 6px 0 11px 16px;
  }
}
.news__item-link:hover {
  background: rgba(73, 115, 255, 0.1);
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}
.news__item:first-child {
  border-top: 1px solid #CECDCD;
}

.info__meta {
  display: flex;
  width: 259px;
  padding-top: 2px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .info__meta {
    width: 220px;
  }
}

.info__published {
  width: 138px;
  display: inline-block;
  padding-top: 5px;
  font-size: 18px;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .info__published {
    width: 120px;
  }
}
@media screen and (max-width: 767px) {
  .info__published {
    font-size: 14px;
    width: 100px;
  }
}

.info__label {
  width: 121px;
  height: 30px;
  padding: 3px;
  border: 2px solid #3B69FF;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 4px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .info__label {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .info__label {
    font-size: 12px;
    width: 81px;
    padding-top: 1px;
    height: 1.66667em;
  }
}

.news__contents {
  width: calc(100% - 259px);
  display: flex;
  padding-top: 3px;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news__contents {
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 767px) {
  .news__contents {
    width: 100%;
    margin-top: 4px;
    padding-top: 4px;
    align-items: start;
  }
}

.info__title {
  line-height: 1.5;
  width: calc(100% - 43px);
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  letter-spacing: 0.025em;
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .info__title {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .info__title {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.4285714286;
    margin-right: 22px;
    width: calc(100% - 55px);
  }
}

.info__arrow {
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .info__arrow {
    position: absolute;
    top: 49%;
    right: 9px;
    transform: translateY(-50%);
  }
}
.info__arrow img {
  width: 23.5px;
  height: 23.5px;
}

.news__link {
  margin-top: 39px;
  text-align: center;
}

.service {
  background: linear-gradient(to bottom, #3E3E3E 65.0407%, transparent 65.0407%);
}
@media screen and (max-width: 767px) {
  .service {
    background: linear-gradient(to bottom, #3E3E3E 55%, transparent 55%);
    padding-bottom: 59px;
  }
}

.service__container {
  padding-top: 54px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .service__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .service__container {
    padding-top: 36px;
  }
}

.service__title {
  color: #FFFFFF;
  text-align: center;
}

.service__wrapper {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  margin: 0 auto;
  padding: 60px 30px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .service__wrapper {
    width: 100%;
    padding: 40px 10px;
    justify-content: normal;
  }
}
@media screen and (max-width: 767px) {
  .service__wrapper {
    display: block;
    width: 100%;
    padding: 40px 16px 36px;
  }
}

.service__item {
  flex: 0 0 28.9583%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .service__item {
    flex-basis: 32.55%;
  }
  .service__item + .service__item {
    margin-left: 8px;
  }
}
@media screen and (max-width: 767px) {
  .service__item + .service__item {
    margin-top: 35px;
  }
}

.service__item-icon {
  height: auto;
  margin: 0 auto;
  text-align: center;
  height: 64px;
  width: 64px;
  position: relative;
}
.service__item-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.service__item-title {
  font-size: 20px;
  color: #3E3E3E;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.4;
  margin-top: 8px;
  padding-left: 4px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .service__item-title {
    line-height: 1.2;
    padding-left: 5px;
  }
}

.service__item-text {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 12px;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .service__item-text {
    padding: 0;
    margin-top: 15px;
  }
}

.results {
  padding-bottom: 117px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .results {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .results {
    padding-bottom: 36px;
  }
}

.results__container {
  max-width: 1240px;
  background: #3E3E3E;
  margin-right: 0;
  margin-left: 40px;
  padding: 55px 0 59px 60px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .results__container {
    margin-left: 0;
    padding-top: 36px;
    padding-left: 1px;
    padding-bottom: 41px;
  }
}

.results__title {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .results__title {
    text-align: center;
  }
}

.results__item-link {
  display: block;
  color: #3E3E3E;
  background: #fff;
}

.result__body {
  padding: 16px 16px 19px 16px;
}
@media screen and (max-width: 767px) {
  .result__body {
    padding: 10px 16px 10px 12px;
  }
}

.results__item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .results__item-title {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.results__content {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 9px;
}
@media screen and (max-width: 767px) {
  .results__content {
    font-size: 12px;
    letter-spacing: 0.001em;
  }
}

.results__view {
  margin-top: 37px;
}
@media screen and (max-width: 767px) {
  .results__view {
    margin-top: 21px;
    text-align: center;
  }
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: visible;
}
@media screen and (max-width: 767px) {
  .swiper-container {
    margin-left: 15px;
  }
}

.swiper-wrapper {
  align-items: center;
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: auto;
}

.swiper-slide {
  height: 100%;
  max-width: 400px;
}
.swiper-pagination {
  position: static;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 40px;
  margin-bottom: 1px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin: 22.5px -10px 0;
    -moz-text-align-last: center;
         text-align-last: center;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  background: transparent;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin-left: 4px;
}

.price {
  padding-bottom: 117px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price {
    padding-top: 55px;
  }
}
@media screen and (max-width: 767px) {
  .price {
    padding-bottom: 56px;
  }
}

.price__title {
  text-align: center;
}

.price__wrapper {
  width: 960px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .price__wrapper {
    width: 100%;
    margin-top: 0;
  }
}

.price-card__table {
  width: inherit;
  border: 1px solid #707070;
  border-collapse: collapse;
  table-layout: fixed;
  background: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .price-card__table {
    margin-top: 30px;
    font-size: 20px;
  }
}

.price-card__list:last-child th {
  border-bottom: 1px solid #3E3E3E;
}

.price-card__title {
  background: #3E3E3E;
  color: #FFFFFF;
  width: 37.2917%;
  padding: 11.5px 0;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .price-card__title {
    width: 29.1545%;
  }
}

.price-card__price {
  padding: 11.5px 40px;
  -moz-text-align-last: left;
       text-align-last: left;
  border-bottom: 1px solid #707070;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .price-card__price {
    width: 70.8455%;
    padding-left: 20px;
    padding-top: 12px;
  }
}

.price__attention {
  margin-top: 10px;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .price__attention {
    margin-top: 7px;
  }
}

.comments {
  position: relative;
}
@media screen and (max-width: 767px) {
  .comments {
    padding-bottom: 60px;
  }
}

.comments__title {
  margin-bottom: 51px;
}
@media screen and (max-width: 767px) {
  .comments__title {
    margin-bottom: 33px;
  }
}

.comments__bg {
  position: absolute;
  top: 148px;
  bottom: 0;
  width: 980px;
  height: 575px;
  background: #3E3E3E;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__bg {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .comments__bg {
    top: 61px;
    width: 100%;
    height: calc(100% - 61px);
  }
}

.comments__container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .comments__container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.comments__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__wrapper {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .comments__wrapper {
    display: block;
  }
}

.comments__contents {
  flex: 0 0 55.5%;
  background: #fff;
  padding: 116px 60px 121px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__contents {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .comments__contents {
    padding: 36px 20px 38px;
  }
}

.comments__item {
  display: flex;
  align-items: stretch;
}
.comments__item:last-child {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments__item {
    align-items: start;
  }
  .comments__item:last-child {
    margin-top: 34px;
  }
}

.comments__icon {
  margin-right: 32px;
  flex: 0 0 100px;
}
@media screen and (max-width: 767px) {
  .comments__icon {
    margin-right: 0;
    flex: 0 0 26.403%;
    padding-top: 3px;
  }
}
@media screen and (max-width: 767px) {
  .comments__icon img {
    width: 60px;
    max-width: 100%;
  }
}

.comments__message {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .comments__message {
    font-size: 14px;
    line-height: 1.4285714286;
    flex: 0 1 73.597%;
  }
}

@media screen and (max-width: 767px) {
  .comments__image {
    display: none;
  }
}

.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  padding: 55px 0 122px;
}
@media screen and (max-width: 767px) {
  .qa {
    padding-top: 37px;
    padding-bottom: 0;
  }
}

.qa__container {
  padding-right: 0;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .qa__container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 59px;
  }
}

.qa__title {
  text-align: center;
  color: #3E3E3E;
}

.qa_items {
  max-width: 100%;
  width: 612px;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .qa_items {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .qa_items {
    margin: 0 auto;
  }
}

.qa__item {
  color: #3E3E3E;
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  background: #FFFFFF;
  padding: 0 16px;
}
.qa__item:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .qa__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.accordion__head {
  padding: 16px 0 16px 40px;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.025em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__head::before {
  content: "Q";
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: 0;
  color: #FFFFFF;
  background: #3B69FF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
.accordion__body {
  display: none;
  background: #ffffff;
  font-weight: 700;
  color: #3E3E3E;
  line-height: 1.5;
  border: none;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .accordion__body {
    padding-bottom: 15px;
  }
}

.accordion__body-in {
  padding: 12px 16px 15px;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .accordion__body-in {
    font-size: 14px;
    padding: 11px 12px 5px;
    line-height: 1.4285714286;
  }
}

.accordion__icon {
  width: 16px;
  height: 17px;
  background: transparent url(../img/plus.svg) no-repeat center center/contain;
  right: 16px;
  top: 50%;
}
.accordion__icon.is-open {
  background-image: url(../img/minus.svg);
}

.access {
  position: relative;
}
@media screen and (max-width: 767px) {
  .access {
    padding-bottom: 60px;
  }
}

.access__container {
  padding-top: 114px;
  padding-right: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__container {
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .access__container {
    padding-top: 36px;
    padding-right: 16px;
  }
}

.access__bg {
  position: absolute;
  background-color: #3E3E3E;
  top: 0;
  left: 0;
  width: 980px;
  height: 504px;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__bg {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .access__bg {
    width: 100%;
    height: 100%;
  }
}

.access__title {
  color: #FFFFFF;
  margin-bottom: 51px;
}
@media screen and (max-width: 767px) {
  .access__title {
    margin-bottom: 32px;
  }
}

.access__wrapper {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__wrapper {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .access__wrapper {
    display: block;
  }
}

.access__info {
  width: calc(100% - 726px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__info {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .access__info {
    width: 100%;
  }
}

.access__address {
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .access__address {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.access__link {
  margin-top: 29px;
}

.access__map {
  flex: 0 0 726px;
  max-width: 100%;
  margin: auto;
  padding-top: 6px;
}
@media screen and (max-width: 767px) {
  .access__map {
    margin-top: 16px;
  }
}

.access__iframe-wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .access__iframe-wrap {
    padding-top: 70.2623906706%;
  }
}
.access__iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access__link a {
  letter-spacing: 0.11em;
}
@media screen and (max-width: 767px) {
  .access__link {
    margin-top: 24px;
  }
}

.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  padding: 60px 160px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 16px 39px;
  }
}

.contact__container {
  padding-right: 0;
  padding-left: 0;
  background: #FFFFFF;
  border-radius: 12px;
  padding-bottom: 15px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .contact__container {
    padding-bottom: 16px;
  }
}

.contact__title-wrapper {
  padding: 54px 0 56px;
  text-align: center;
  color: #FFFFFF;
  background: url(../img/contact1.png) no-repeat center center/cover;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__title-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 767px) {
  .contact__title-wrapper {
    padding: 37px 0 36px;
    background: url(../img/contactsp.png) no-repeat center center/cover;
  }
}

.contact__title {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .contact__title {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .contact__sub-title {
    font-size: 14px;
    -moz-text-align-last: left;
         text-align-last: left;
    padding: 0 21px 0 15px;
    line-height: 1.4285714286;
  }
}

.contact__form {
  padding: 59.5px 120px 44px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__form {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact__form {
    padding: 37px 12px 24px;
  }
}

.contact__item {
  display: flex;
}
.contact__item + .contact__item {
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .contact__item + .contact__item {
    margin-top: 27px;
  }
}
.contact__item.contact__radio {
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  .contact__item.contact__radio {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contact__item {
    display: block;
  }
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 0.5;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  input[type=text],
input[type=email],
textarea {
    padding-left: 0;
    font-size: 14px;
  }
}

input[type=text],
input[type=email] {
  padding: 4px 12px 6px;
  border-bottom: 1px solid rgba(62, 62, 62, 0.3);
  transition: border-bottom 0.3s ease 0s, box-shadow 0.3s ease 0s;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  input[type=text],
input[type=email] {
    padding: 11px 0 3px;
  }
}
input[type=text]:hover,
input[type=email]:hover {
  border-bottom: 1px solid #4973FF;
  box-shadow: 0px 2px #fff, 0px 5px 4px rgba(73, 115, 255, 0.5);
}
input[type=text].inputted,
input[type=email].inputted {
  border-bottom: 1px solid #4973FF;
  box-shadow: 0px 2px #fff, 0px 5px 4px rgba(73, 115, 255, 0.5);
  background: transparent !important;
}
input[type=text]:focus,
input[type=email]:focus {
  border-bottom: 1px solid #4973FF;
  box-shadow: 0px 2px #fff, 0px 5px 4px rgba(73, 115, 255, 0.5);
  outline: none;
}

textarea {
  border: 1px solid #707070;
  width: 720px;
  max-width: 100%;
  height: 200px;
  transition: border 0.3s ease 0s;
  padding: 10px;
  resize: vertical;
}
@media (min-width: 768px) and (max-width: 1199px) {
  textarea {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  textarea {
    width: 100%;
    height: 160px;
  }
}
textarea:hover {
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}
textarea.inputted {
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}
textarea:focus {
  border-bottom: 1px solid #4973FF;
  box-shadow: 0px 2px #fff, 0px 5px 4px rgba(73, 115, 255, 0.5);
  outline: none;
}

.contact__item-title {
  flex: 0 0 188px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__item-title {
    flex-basis: 27%;
  }
}
@media screen and (max-width: 767px) {
  .contact__item-title {
    font-size: 16px;
  }
}
.contact__item-title.is-required label {
  position: relative;
  display: inline-block;
}
.contact__item-title.is-required label::after {
  position: absolute;
  content: "必須";
  width: 40px;
  height: 16px;
  text-align: center;
  top: 50%;
  left: calc(100% + 12px);
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 700;
  background: #FF4646;
  color: #FFFFFF;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .contact__item-title.is-required label::after {
    top: 46%;
    left: calc(100% + 20px);
  }
}

.contact__item-input {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .contact__item-input {
    font-size: 14px;
  }
}

.contact__select-wrapper {
  position: relative;
  width: 178px;
  max-width: 100%;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .contact__select-wrapper {
    margin-top: 11px;
    width: 100%;
  }
}
.contact__select-wrapper::after {
  position: absolute;
  top: 45%;
  /* 矢印の位置 */
  right: 17px;
  /* 矢印の位置 */
  width: 6px;
  /* 矢印の大きさ */
  height: 6px;
  /* 矢印の大きさ */
  border-top: 2px solid #58504A;
  /* 矢印の線 */
  border-right: 2px solid #58504A;
  /* 矢印の線 */
  /* 矢印の傾き */
  transform: translateY(-50%) rotate(135deg);
  /* 矢印の傾き */
  pointer-events: none;
  /* 矢印部分もクリック可能にする */
  content: "";
}

.contact__select {
  width: 100%;
  color: #3E3E3E;
  padding: 11px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow 0.3s ease 0s;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .contact__select {
    font-size: 14px;
  }
}
.contact__select:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
  cursor: pointer;
  outline: none;
}
.contact__select:focus {
  outline: none;
}

.contact__radio-label + .contact__radio-label {
  margin-left: 36px;
}
.contact__radio-label:hover > .contact__radio-selector::before {
  border-color: #3B69FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}

@media screen and (max-width: 767px) {
  .contact__radio-container {
    padding-top: 9px;
  }
}

.form-radio {
  display: none;
  /* オリジナルボタンを設置するため、paddingでテキストの左側にスペースを確保 */
  /* 非表示にしたデフォルトのラジオボタンにチェックが入ると、オリジナルボタンのチェックも透明を解除して表示する */
}
.form-radio + .contact__radio-selector {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 20px;
  position: relative;
  /* 擬似要素beforeとafterを共通でセット */
  /* beforeをラジオボタンの枠として利用するため、デザインを適用する */
  /* afterは枠の中のチェックマークとして利用するため、デザインを適用する
  デフォルトのチェックマークはopacity:0で透明にしておく*/
}
.form-radio + .contact__radio-selector::before, .form-radio + .contact__radio-selector::after {
  content: "";
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
}
.form-radio + .contact__radio-selector::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}
.form-radio + .contact__radio-selector::after {
  left: 3px;
  width: 6px;
  height: 6px;
  background: #3B69FF;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  border-radius: 50%;
}
.form-radio:checked + .contact__radio-selector::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contact__radio-selector {
    font-size: 16px;
  }
}
.contact__radio-selector:active::before {
  background-color: rgba(73, 115, 255, 0.2);
}

.contact__text-area {
  margin-top: 23px;
}

.input__textarea {
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .input__textarea {
    margin-top: 11px;
  }
}

.contact__check {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .contact__check {
    margin-top: 24px;
  }
}

.contact__check-label:hover > span::before {
  border-color: #4973FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

.contact__checkbox {
  display: none;
}
.contact__checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 40px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .contact__checkbox + span {
    font-size: 16px;
    padding-left: 38px;
  }
}
.contact__checkbox + span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .contact__checkbox + span::before {
    top: 49%;
    width: 18px;
    height: 18px;
  }
}
.contact__checkbox + span::after {
  content: "";
  border: 2px solid #3B69FF;
  position: absolute;
  top: 40%;
  left: 2px;
  width: 13px;
  height: 6px;
  border-top: none;
  border-right: none;
  transition: opacity 0.3s ease 0s;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
}
.contact__checkbox:checked + span::after {
  opacity: 1;
}
.contact__checkbox:active + span::before {
  background-color: rgba(73, 115, 255, 0.2);
}

.contact__submit {
  margin-top: 37px;
}
@media screen and (max-width: 767px) {
  .contact__submit {
    margin-top: 31px;
    text-align: center;
  }
}

.contact__message {
  display: none;
  text-align: center;
  font-size: 16px;
}

#js-success {
  color: #3B69FF;
}

#js-error {
  color: #FF4646;
}

.footer {
  background: #3E3E3E;
  padding: 59px 160px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding-right: 76px;
    padding-left: 76px;
    padding-bottom: 55px;
  }
}

.footer__sns {
  width: 104px;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    width: 100%;
  }
}

.footer__sns-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__sns-list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__sns-icon + .footer__sns-icon {
    margin-left: 50px;
  }
}

.fa-brands {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 36px;
}
.fa-brands.fa-square-facebook {
  font-size: 40px;
}

.footer__link-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .footer__link-list {
    margin-top: 35px;
  }
}

.footer__link-item {
  color: inherit;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.footer__link-item + .footer__link-item {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .footer__link-item + .footer__link-item {
    margin-top: 19px;
  }
}
@media screen and (max-width: 767px) {
  .footer__link-item {
    text-align: center;
    font-size: 14px;
  }
}

.footer__main {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__main {
    text-align: center;
    margin-top: 35px;
  }
}

.footer__main-title {
  color: #E3E3E3;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.24;
}
@media screen and (max-width: 767px) {
  .footer__main-title {
    font-size: 32px;
  }
}

.footer__copyright {
  font-size: 12px;
  margin-top: 9px;
  opacity: 0.6;
  letter-spacing: 0.025em;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */