//テキストカラー
$color-text-primary: #3E3E3E;
$color-text-secondary: #FFFFFF;

//キーカラー
$color-main: #F3F3F3;
$color-contents-primary: #3E3E3E;
$color-contents-secondary: #FFFFFF;
$color-contact: #FFAA3B;
$color-accent:#FF4646;
