// //画面サイズ
$container-size: 1200px;

//headerサイズ
$header-height-pc: 83px;
$header-height-sp: 68px;

// 余白
// $padding-pc: $header-height-pc;
// // $padding-tab: ;
$padding-sp: 16px;
$line-height-base: (24 / 16);
$padding-tab: 30px;

// ハンバーガーアイコン
$drawer-bar-space: 4px;
$drawer-bar-width: 26px;
$drawer-bar-height: 4px;
$drawer-content-width: 80vw;




